.static{
    position : static;
    bottom: 0;
}
.fixed{
    position: fixed;
    top: 0;
}
.position{
    position:relative;
    left:100px;
    top:0;
}
.absolute{
    position:absolute;
    right:0;
    top:0;
}
.image{
    position:relative;
   
}


